body{
	direction: rtl;
	font-family: 'Droid Arabic Kufi';
	min-width: 1000px;
	cursor: default;
}
input{
	outline: none;
}
button{
	cursor: pointer;
}
i{
	font-style: normal;
}
.row{
	width: 100%;
}
.shadow{
	box-shadow: 0px 3px 5px -3px dimgray;
}

/* Landing page */
.landing_page_container{
	padding-top: 10%
}
.login_form{
	width: 500px;
	padding: 30px;
	border-radius: 15px
}
.login_form input{
	width: 50%
}
.input_field{
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;
	width: 70%;
	border-radius: 35px;
	text-align: right;
	margin-top: 25px;
	border: solid lightgray 1px;
}
.input_field input{
	border: none;
}
.login_form button{
	padding: 13px;
	padding-left: 15px;
	padding-right: 15px;
	width: 70%;
	border-radius: 35px;
	margin-top: 25px;
	margin-bottom: 5px;
	border: none;
	background-color: var(--success);
	color: white;
}

/* Navbar */
nav{
	padding: 25px
}
nav button{
	border: solid lightgray 1px;
	padding: 5px;
	width: 130px;
	border-radius: 25px;
}

/* Home */
.home_actions_container{
	padding: 5%;
}
.home_action_card{
	width: 90%;
	margin: 20px;
	border-radius: 15px;
	padding: 15px;
	background-color: gray;
	border: none;
	color: white;
	transition-duration: 0.1s;
}
.home_action_card:hover{
		transform: scale(1.05);
}
.home_action_card h1{
	font-size: 50px;
}
.home_action_card i{
	font-size: 20px;
}