<!DOCTYPE html>
<html>
<head>
	<title>معرض الجبل</title>  
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<center>
		<nav class="shadow row">
			<div class="col-9" style="text-align: right;">
				<button
					onclick="location.href='/home'">الرئيسية</button>
				<button
					onclick="location.href='/deal'"
					>معاملة جديدة</button>
				<button
					onclick="location.href='/store'"
					>المخزن</button>
				<button
					onclick="location.href='/pills'"
					>الفواتير</button>
				<button
					onclick="location.href='/cuts'"
					>المنصرفات</button>
			</div>
			<div class="col-3">
				<h3>معرض الجبل</h3>
			</div>
		</nav>
		<div class="new_cut_form_container">
			<div class="login_form shadow">
				<h4 style="margin-bottom: 5%">تعديل منتج </h4>
				{% if product %}
				{% for pro in product %}
				<form action="/updateproduct" method="POST">
					
					<div style="text-align: right; width: 60%">
						<i>الأسم</i>
					</div>

					<div class="input_field">
						<i class="icon-user-1"></i>
						<input type="text" value="{{ pro.name }}" required placeholder="إسم المنتج" name="name">
						<input type="number" hidden="" value="{{ pro.id }}" name="id">
					</div>
					
					<div style="text-align: right; width: 60%">
						<i>السعر</i>
					</div>

					<div class="input_field">
						<i class="icon-user-1"></i>
						<input type="number" value="{{ pro.price }}" required placeholder="سعر المنتج" name="price">
					</div>
					
					<div style="text-align: right; width: 60%">
						<i>الكمية</i>
					</div>
					<div class="input_field">
						<i class="icon-user-1"></i>
						<input type="number" value="{{ pro.mount }}" required placeholder="الكمية" name="mount">
					</div>

					<div >
						<button type="submit">تعديل</button>
					</div>
				</form>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</center>

	<!-- Scripts -->
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>