<!DOCTYPE html>
<html>
<head>
	<title>معرض الجبل</title>  
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<center>
<!-- 		<br><br><br>
		<h2>البادي للسيراميك</h2> -->
		<div class="landing_page_container">
			<div class="login_form shadow">
				<h3>تسجيل الدخول</h3>
				<form action="/login" method="POST">
					<div class="input_field">
						<i class="icon-user-1"></i>
						<input type="text"  required placeholder="إسم المستخدم" name="username">
					</div>
					<div class="input_field">
						<i class="icon-lock-2"></i>
						<input type="password"  required placeholder="الرقم السري" name="password">
					</div>
					<div >
						<button type="submit">دخول</button>
					</div>
				</form>
			</div>
		</div>
		<div class="footer">
			<p> Developed & designed by Mohammed Albushari, bigmbushari@gmail.com - 0969055755</p>
		</div>
	</center>

	<!-- Scripts -->
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>