<!DOCTYPE html>
<html>
<head>
	<title>معرض الجبل</title>  
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<center>
		<nav class="shadow row">
			<div class="col-9" style="text-align: right;">
				<button
					onclick="location.href='/home'">الرئيسية</button>
				<button
					onclick="location.href='/deal'"
					>معاملة جديدة</button>
				<button
					onclick="location.href='/store'"
					>المخزن</button>
				<button
					onclick="location.href='/pills'"
					>الفواتير</button>
				<button
					onclick="location.href='/cuts'"
					>المنصرفات</button>
			</div>
			<div class="col-3">
				<h3>معرض الجبل</h3>
			</div>
		</nav>
		<div class="store_container">
			<div>
				<h3>الفواتير  المدفوعة</h3>
			</div>
			<div class="pills_filtering_form">
				<form action="/paid" method="POST">
					<div class="pills_filtering_form_input">
						<input type="date" id="dateselector" value="{{ datentime }}" name="datentime">
						<button>إنتقال</button>
					</div>
				</form>
			</div>
			<div>
				<h5>إجمالي الأمتار المباعة في الشهر : <i id="totalMount"></i> متر</h5>
			</div>
			<div class="cuts_container">
			<div class="registerd_pills_container">
				<div class="row registerd_pill_header">
					<div class="col-2">الإسم</div>
					<div class="col-3">الكمية</div>
					<div class="col-2">السعر</div>
					<div class="col-2">التاريخ</div>
					<div class="col-3">
						العمليات
					</div>
				</div>


				{% if pills %}
				{% for pill in pills %}
				<div class="row registerd_pill">
					<div class="col-2">{{ pill.customerName }}</div>
					<div class="col-3">
						{% for pro in pill.data %}
							<div><i id="mount">{{ pro.mount }}</i> : {{ pro.name }}</div>
						{% endfor %}
					</div>
					<div class="col-2">{{ pill.price }} ج</div>
					<div class="col-2">{{ pill.date }}</div>
					<div class="col-1">
						<button onclick="showpill({{ pill.id }})">عرض</button>
					</div>
					<div class="col-1">
						<button onclick="deletePill({{ pill.id }})" style="background-color: var(--danger)">حزف</button>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<h3>لا توجد فواتير</h3>
				{% endif %}
				


			</div>
		</div>
	</center>

	<!-- Scripts -->
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
	<script type="text/javascript">
		countMount()
	</script>
</body>
</html>