<!DOCTYPE html>
<html>
<head>
	<title>معرض الجبل</title>  
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fontello.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<center>
		<nav class="shadow row">
			<div class="col-9" style="text-align: right;">
				<button
					onclick="location.href='/home'">الرئيسية</button>
				<button
					onclick="location.href='/deal'"
					>معاملة جديدة</button>
				<button
					onclick="location.href='/store'"
					>المخزن</button>
				<button
					onclick="location.href='/pills'"
					>الفواتير</button>
				<button
					onclick="location.href='/cuts'"
					>المنصرفات</button>
			</div>
			<div class="col-3">
				<h3>معرض الجبل</h3>
			</div>
		</nav>
		<div class="show_pill_container">

			{% if pill %}
				{% for p in pill %}
				<h2> {{ p.customerName }} </h2>
				<table class="show_pill_table_container">
						<tr>
							<td> الأسم </td>
							<td> السعر بالجنية </td>
							<td> الكمية  بالمتر</td>
						</tr>
						{% for product in p.data %}
						<tr>
							<td> {{ product.name }} </td>
							<td> {{ product.price }} </td>
							<td> {{ product.mount }} </td>
						</tr>
						{% endfor %}
					</tr>
				</table>
				<div>
					<br>
					<h4>
						 الإجمالي - {{ p.price }} ج
					</h4>
					<p>
						 الملاحظات - {{ p.comment }}  <button 
						 class="btn btn-warning"
						 onclick="location.href='/comment/{{ p.id }}'" 
						 >تعديل الملاحظة</button>
					</p>
					{% if p.status %}
					<h3> الفاتورة مدفوعة </h3>
					{% else %}
					<h3> الفاتورة غير مدفوعة </h3>
					{% endif %}
				</div>
				<div>
					<center>
						{% if not p.status %}
						<div>
							<button onclick="location.href='/editpill/' + {{ p.id }}" class="btn btn-primary">تعديل</button>
						</div>
						<button onclick="pillPaid({{ p.id }})" class="btn btn-success">دفع</button>
						{% endif %}
						<button onclick="deletePill({{ p.id }})" class="btn btn-danger">حزف</button>
					</center>
				</div>
				{% endfor %}
			{% else %}
			<h1>خطاء</h1>
			{% endif %}
		</div>
	</center>

	<!-- Scripts -->
	<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>